.code_input
	= text_area :code, :text

:javascript
	
	$(document).ready(function(){
		var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('code_text'), {
			mode: "text/x-ruby",
			theme: "rubyblue",
			tabMode: "indent",
			lineNumbers: true,
			matchBrackets: true,
			autofocus: true,
			indentUnit: 4
		});
		myCodeMirror.on('keypress', function(obj, event){
			if(event.keyCode == 13 ){
				var me = obj,
						last_line = obj.lastLine();
				if(me.getLine(last_line - 1) == 'clear'){
					clear_text_area(me);
				}else{
					$.ajax({
						type: "POST",
			      url: "/excute_code.json",
			      data: { code: me.doc.getValue() },
			      dataType: "json",
			      beforeSend: function(){
			      	console.log("before send data");
			      },
			      success: function(data) {
			        me.setLine(last_line, data.result.toString() + "\n")
			      },
						error: function(error){
							console.log(error);
						}
					})
				}
			}
		})
	});