.code_input
	= text_area :code, :text

:javascript
	$(document).ready(function(){
		var code_input_line_count,
				pre_code,
				next_code;
		var code_input_cm = CodeMirror.fromTextArea(document.getElementById('code_text'), {
			mode: "text/x-ruby",
			theme: "rubyblue",
			value: "",
			tabMode: "indent",
			lineNumbers: true,
			matchBrackets: true,
			autofocus: true,
			onKeyEvent: function(editor, event){
		    var event_type = event.type;
		    if(event_type == "keydown"){
		    	if(event.keyCode == 13){
		    		code_input_line_count = editor.lineCount() - 1;
		    		send_request_after_press_enter_key(editor);
		    	}
		    }
			},
			extraKeys: {
				Up: function(cm){
					pre_code = previous_line_code(cm);
					cm.setLine(cm.lineCount() - 1, pre_code);
				},
				Down: function(cm){
					next_code = next_line_code(cm)
					cm.setLine(cm.lineCount() - 1, next_code);
				},
				"Alt-L": function(cm){
					cm.setValue("");
				},
				"Ctrl-Z": function(cm){
					cm.doc.undo()
				},
				"Ctrl-Shift-Z": function(cm){
					cm.doc.redo()
				}
			},
			indentUnit: 4
		});
		var send_request_after_press_enter_key = function(editor){
			var me = editor,
					last_line = result_cm.lastLine();
			$.ajax({
				type: "POST",
	      url: "/excute_code.json",
	      data: { code: me.doc.getValue() },
	      dataType: "json",
	      beforeSend: function(){
	      	console.log("before send data");
	      },
	      success: function(data) {
	      	result_cm.setLine(last_line, data.result.toString() + "\n")
	      },
				error: function(error){
					console.log(error);
				}
			})
		}

		var previous_line_code = function(cm){
			var history_code = code_input_cm.getLine(code_input_line_count);
			if(code_input_line_count > 0){
				code_input_line_count = code_input_line_count-1;
			}
			return history_code;
		}

		var next_line_code = function(cm){
			var history_code;
			if(code_input_line_count < cm.lineCount() - 1){
				code_input_line_count = code_input_line_count + 1;
				history_code = cm.getLine(code_input_line_count);
			}
			if(code_input_line_count >= cm.lineCount() - 1){
				history_code = "";
			}
			return history_code;
		}

		var result_cm = CodeMirror.fromTextArea(document.getElementById('result_text'),{
			mode: "text/x-ruby",
			theme: "rubyblue",
			matchBrackets: true,
			readOnly: true
		});
	});